<h2 class="stat-header">{{ 'stat_heading' | trans }}</h2>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-2">
        {{ form_label(filterForm.feeder) }}
        {{ form_widget(filterForm.feeder, {
            'attr': {
                'class': 'form-control'
            }
        }) }}
    </div>
</div>

    {% include '@Feeder/FeedhistoryTable/feedhistory_table.html.twig' %}

{{ form_start(form, {'action': path('feeder_feed_index'), 'method': 'POST'}) }}
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-1">
        {{ form_label(form.quantity) }}
    </div>

    <div class="col-xs-8 col-sm-6 col-md-2">
        {{ form_widget(form.quantity, {
            'attr': {
                'class': 'form-control'
            }
        }) }}
    </div>

    <div class="col-xs-6 col-sm-6 col-md-1">
        {{ form_label(form.feeder) }}
    </div>

    <div class="col-xs-8 col-sm-6 col-md-2">
        {{ form_widget(form.feeder, {
            'attr': {
                'class': 'form-control'
            }
        }) }}
    </div>
    {% if isScheduleEnabled == '0' %}
        <div class="col-xs-8 col-sm-6 col-md-2">
            {{ form_widget(form.feed, {
                'attr': {
                    'class': 'btn btn-primary form-control'
                }
            }) }}
        </div>
    {% else %}
        <div class="col-xs-8 col-sm-6 col-md-2">
            <span>{{ 'scheduled_feed_mode' | trans }}</span>
        </div>
    {% endif %}

</div>

{{ form_end(form , {'render_rest': false}) }}

<script>
    function deleteHistory(el) {
        $.ajax({
            type: "POST",
            cache: false,
            dataType: "html",
            url: "{{ path('feeder_feedhistory_remove') }}",
            data: {"id": el.id},
            success: function(data) {
                $('.table').html(data);
            }
        })
    }

    $('#filter_feeder').change(function() {
        var selectedText = $('#filter_feeder option:selected').text();
        var selectedValue = $('#filter_feeder option:selected').val();

        $.ajax({
            type: "GET",
            cache: false,
            dataType: "html",
            url: "{{ path('feeder_feedhistory_filter') }}",
            data: {"name": selectedText, "value": selectedValue},
            success: function(data) {
                $('.table').html(data)
            }
        })
    })
</script>