{% extends '@Home/layout.html.twig' %}
{% block title %} {{ 'feeder_edit_title' | trans }} {% endblock %}
{% block body %}

    {{ form_start(edit_form,  {
        'action': path('feeder_feeder_edit', {
            'feederId': feederId
        }),
        'method': 'POST'
    }) }}

    {{ form_row(edit_form.name) }}
    {% if isScheduledFeedEnabled == '1' %}
        {{ form_row(edit_form.numberOfFeedPerDay) }}
    {% endif %}
    <div id="feed-hours">

    </div>
    {{ form_row(edit_form.save) }}
    {{ form_end(edit_form, {'render_rest': false}) }}
{#{{ dump(scheduleToFeeder) }}#}
    <table class="table table-feeder table-hover">
        <thead>
        <th>{{ 'createdAt' | trans }}</th>
        {% if scheduleToFeeder.feedHour1 != null %}
            <th>{{ 'feed_hour_1' | trans }}</th>
        {% endif %}
        {% if scheduleToFeeder.feedHour2 != null %}
            <th>{{ 'feed_hour_2' | trans }}</th>
        {% endif %}
        {% if scheduleToFeeder.feedHour3 != null %}
            <th>{{ 'feed_hour_3' | trans }}</th>
        {% endif %}
        {% if scheduleToFeeder.feedHour4 != null %}
            <th>{{ 'feed_hour_4' | trans }}</th>
        {% endif %}
        {% if scheduleToFeeder.feedHour5 != null %}
            <th>{{ 'feed_hour_5' | trans }}</th>
        {% endif %}
        <th>{{ 'numberOfFeedPerDay' | trans }}</th>
        <th>{{ 'quantity' | trans }}</th>
        <th>{{ 'feedCounter' | trans }}</th>

        </thead>
        <tbody>
            <tr class="schedule-{{ scheduleToFeeder.id }}">
                <td>{{ scheduleToFeeder.createdAt | date("Y-m-d H:i:s")}}</td>
                {% if scheduleToFeeder.feedHour1 != null %}
                    <td>{{ scheduleToFeeder.feedHour1 }}</td>
                {% endif %}
                {% if scheduleToFeeder.feedHour2 != null %}
                    <td>{{ scheduleToFeeder.feedHour2 }} </td>
                {% endif %}
                {% if scheduleToFeeder.feedHour3 != null %}
                    <td> {{ scheduleToFeeder.feedHour3 }} </td>
                {% endif %}
                {% if scheduleToFeeder.feedHour4 != null %}
                    <td>{{ scheduleToFeeder.feedHour4 }}</td>
                {% endif %}
                {% if scheduleToFeeder.feedHour5 != null %}
                    <td>{{ scheduleToFeeder.feedHour5 }}</td>
                {% endif %}
                    <td>{{ scheduleToFeeder.numberOfFeedPerDay }}</td>
                <td>{{ scheduleToFeeder.quantity }}</td>
                <td>{{ scheduleToFeeder.feedCounter }}</td>
                {#<td class="buttons-td">#}
                    {#<a href="{{ path('feeder_feeder_edit', {'feederId': feeder.id}) }}">#}
                        {#<button class="btn btn-default edit-button" id="feeder[{{ feeder.id }}]" >#}
                            {#<span class="glyphicon glyphicon-edit"></span>#}
                        {#</button>#}
                    {#</a>#}
                    {#<a href="{{ path('feeder_feeder_delete', {'feederId': feeder.id}) }}">#}
                        {#<button class="btn btn-danger delete-button" id="{{ feeder.id }}" onclick="feederDelete(this)">#}
                            {#<span class="glyphicon glyphicon-trash"></span>#}
                        {#</button>#}
                    {#</a>#}
                {#</td>#}
            </tr>
        </tbody>
    </table>
{% endblock %}