{% extends '@Home/layout.html.twig' %}
{% block title %} {{ 'feeder_edit_title' | trans }} {% endblock %}
{% block body %}

    {{ form_start(edit_form,  {
        'action': path('feeder_feeder_edit', {
            'feederId': feederId
        }),
        'method': 'POST'
    }) }}

    {{ form_row(edit_form.name) }}
    {% if isScheduledFeedEnabled == '1' %}
        {{ form_row(edit_form.numberOfFeedPerDay) }}
    {% endif %}
    <div id="feed-hours">

    </div>
    {{ form_row(edit_form.save) }}
    {{ form_end(edit_form, {'render_rest': false}) }}


{% endblock %}