<table class="table table-hover">
    <thead>
    <th>{{ 'date' | trans }}</th>
    <th>{{ 'description' | trans }}</th>
    <th>{{ 'quantity' | trans }}</th>
    <th>{{ 'feeder' | trans }}</th>
    <th></th>
    </thead>
    <tbody>
    {% if getLastFeedhistoriesByUserId is not empty %}
        {% for history in getLastFeedhistoriesByUserId %}
            <tr class="row-{{ history.id }}">
                <td>{{ history.createdAt | date("Y-m-d H:i:s")}}</td>
                <td>{{ history.description }}</td>
                <td>{{ history.quantity }}</td>
                <td>{{ history.name }}</td>
                <td><button class="btn btn-danger delete-button" id="{{ history.id }}" onclick="deleteHistory(this)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button></td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            {{ 'feed_not_happened_yet' | trans }}
        </tr>
    {% endif %}
    </tbody>
</table>