<h2 class="stat-header">{{ 'stat_heading' | trans }}</h2>
{#TODO: esetleg jöhetne az etetés is ajaxxal. Meghívná az etető kontroller. Az visszatér az adatokkal.#}
{#TODO: Ez alapján hozzá lehetne fűzni mindig egy sort a táblához. #}
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-2">
        {{ form_label(filterForm.feeder) }}
        {{ form_widget(filterForm.feeder, {
            'attr': {
                'class': 'form-control'
            }
        }) }}
    </div>
</div>

    {% include '@Feeder/FeedstatTable/feedstat_table.html.twig' %}

{{ form_start(form, {'action': path('feeder_feed_index'), 'method': 'POST'}) }}
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-1">
        {{ form_label(form.quantity) }}
    </div>

    <div class="col-xs-8 col-sm-6 col-md-2">
        {{ form_widget(form.quantity, {
            'attr': {
                'class': 'form-control'
            }
        }) }}
    </div>

    <div class="col-xs-6 col-sm-6 col-md-1">
        {{ form_label(form.feeder) }}
    </div>

    <div class="col-xs-8 col-sm-6 col-md-2">
        {{ form_widget(form.feeder, {
            'attr': {
                'class': 'form-control'
            }
        }) }}
    </div>
</div>
{{ form_end(form) }}

<script>
    function deleteStat(el) {
        $.ajax({
            type: "POST",
            cache: false,
            dataType: "html",
            url: "{{ path('feeder_feedstat_remove') }}",
            data: {"id": el.id},
            success: function(data) {
                $('.table').html(data);
            }
        })
    }

    $('#filter_feeder   ').change(function() {
        var selectedText = $('#filter_feeder option:selected').text();
        var selectedValue = $('#filter_feeder option:selected').val();

        $.ajax({
            type: "GET",
            cache: false,
            dataType: "html",
            url: "{{ path('feeder_feedstat_filter') }}",
            data: {"name": selectedText, "value": selectedValue},
            success: function(data) {
                $('.table').html(data)
            }
        })
    })
</script>