{% extends '@User/layout.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/user/css/register.css') }}" />
{% endblock %}

{% form_theme edit_form '@User/Registration/custom_errors.html.twig' %}

{% block body %}

    <h1>{{ 'user_edit' | trans }}</h1>
<div class="login_page">
    <div class="form">
        {{ form_start(edit_form) }}
        {{ form_label(edit_form.username) }}
        {{ form_errors(edit_form.username) }}
        {{ form_widget(edit_form.username, {'attr': {'placeholder': 'form.username' | trans } }) }}

        {{ form_label(edit_form.firstname) }}
        {{ form_errors(edit_form.firstname) }}
        {{ form_widget(edit_form.firstname, {'attr': {'placeholder': 'form.firstname' | trans} }) }}

        {{ form_label(edit_form.lastname) }}
        {{ form_errors(edit_form.lastname) }}
        {{ form_widget(edit_form.lastname, {'attr': {'placeholder': 'form.lastname' | trans} }) }}

        {{ form_errors(edit_form.plainPassword) }}
        {{ form_widget(edit_form.plainPassword, {'attr': {'placeholder': 'form.password' | trans} }) }}

        {{ form_label(edit_form.email) }}
        {{ form_errors(edit_form.email) }}
        {{ form_widget(edit_form.email, {'attr': {'placeholder': 'form.email' | trans} }) }}

        {{ form_end(edit_form) }}
</div>
</div>
{% endblock %}