{% extends '@User/layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/user/css/login.css') }}" />
{% endblock %}

{% block body %}
    {% include '@User/Common/error.html.twig' %}
    {# @TODO ezt itt ki lehetne tenni egy type-ba #}
    <div class="container">
        <form class="form-signin" action="{{ path('user_security_logincheck') }}" method="post">
            <h2 class="form-signin-heading">{{ 'please_sign_in' | trans }}</h2>
            <hr class="colorgraph">
            <label for="username" class="sr-only">Username:</label>
            <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}"
                   placeholder="{{ 'form.username' | trans }}" required autofocus/>

            <label for="password" class="sr-only">{{ 'password' | trans }}:</label>
            <input type="password" id="password" class="form-control" name="_password"
                   placeholder="{{ 'password' | trans }}" required />

            <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'sign_in' | trans }}</button>
        </form>

    </div> <!-- /container -->
{% endblock %}