{% extends '@Config/layout.html.twig' %}
{% block body %}
    {#{% form_theme form '@User/Common/custom_errors.html.twig' %}#}
    <h2>{{ 'config' | trans }}</h2>
    <div class="container">
        {{ form_start(form, {
            'action': path('config_config_save'),
            'method': 'POST'
        })  }}

        {{ form_label(form.stat_limit) }}
        {{ form_widget(form.stat_limit, {
            'attr': {
                'class': 'form-control',
                'value': data.stat_limit.value
            }
        }
        ) }}
        <button type="submit">{{ 'save'|trans }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}